<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T-ingenios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery/jquery-ui.css') }}">
<script src="{{ url_for('static', filename='jquery/jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery/jquery-ui.min.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/Estilos.css') }}">

</head>
<body>
    <h1>T-ingenios</h1>

    <div>
        <label for="numQuestions">Número de preguntas:</label>
        <input type="number" id="numQuestions" min="1" value="1">
        <button id="updateQuestions">Actualizar</button>
        <span id="selectedNumQuestions"></span>
        <span id="loadedQuestionsCount"></span>
    </div>
    <input type="file" id="fileInput">
    <button id="loadQuestions">Cargar Preguntas</button>
    <div id="container">
        <div id="questions-column">
            <div id="contexto"></div>
            <div id="question"></div>
            <div id="options"></div>
            <div id="countdown" style="display: none;"></div>
            <button id="nextButton" style="display: none;">Siguiente Pregunta</button>
            <button id="explanationButton" style="display: none;">Ver Explicación</button>
            <div id="feedback" style="display: none;"></div>
        </div>
        <div id="explanation-column"></div>
    </div>
    <div id="result" style="display: none;"></div>

    <div id="passwordContainer" style="display: none;">
        <p>Ingrese la contraña:</p>
        <input type="password" id="passwordInput">
        <button id="submitButton">Submit</button>
        <p id="errorMessage" class="hidden">Contraseña incorrecta. Intente otra vez.</p>
    </div>
     <script src="{{ url_for('static', filename='js/T-IngeniosB1GC2025.js') }}"></script>
</body>
</html>
